{% extends "base.html" %}

{% block title %}<h2>Загрузка файла отчета</h2>{% endblock %}
{% block upload_form %}
{% if username %}
 <div class="form-group">
    <form action="/parse/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <p class="help-block">Выберите *.xls файл отчета</p>
        <input type="submit" class="btn btn-default" value="Загрузить">
    </form>
     <br>
     <div>Требования к файлу отчета:
        <ul>
            <li>файл *.xls</li>
            <li>содержит вкладки "Информация", "Общие сведения", "Таблица", "Составы команд". Названия вкладок должны быть без ошибок</li>
            <li>на вкладке "Информация" в ячейке D2 содержится количество вопросов в туре, в ячейке D3 - количество туров</li>
            <li>для каждой команды с вкладки "Общие сведения" должны быть составы на вкладке "Составы" и наоборот. Количество и названия
            команд на этих вкладках должны быть одинаковыми.</li>
        </ul>
        Если есть недочеты по количеству и названию команд на разных вкладках, выведется сообщение об этом.
        Если таких недочетов нет, по базе рейтинга rating.chgk.info будет проверено:
        <ul>
            <li>по ID игрока - правильность имени, фамилии и отчества</li>
            <li>по ID команды - правильность названия, города.</li>
        </ul>
     </div>

{% else %}
    <p>Для загрузки файла отчета пройдите авторизацию</p>
    <a class="btn btn-default" href="/auth/login/">Войти</a>
{% endif %}
{% endblock %}

</div>